<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Servicios R & H Communitech</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="R&H, Communitech," name="keywords">
    <meta content="" name="description">


    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">


    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
        rel="stylesheet">


    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="icon" href="img/index/favicon.png" type="image/x-icon">


    <link href="css/style.css" rel="stylesheet">

</head>

<body>


    <header id="header">
        <div class="container">

            <div class="float-left">

                <a href="index.html" title="R&H Communitech"><img src="img/logo/logo.png" style="width: 180px;"
                        alt=""></a>

            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li><a href="#intro" class="link-wave">Inicio</a></li>
                    <li><a href="#services" class="link-wave">Servicios</a></li>
                    <li class="drop-down"><a href="" class="link-wave">Acerca de</a>
                        <ul>
                            <li>
                                <a href="#about" class="link-wave">Nosotros</a>
                                <a href="#vision" class="link-wave">Visión</a>
                                <a href="#mision" class="link-wave">Misión</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#footer" class="link-wave">Contacto</a></li>
                </ul>
            </nav>


        </div>
    </header>

    <section id="intro" class="clearfix fondo-header">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-12 intro-info order-md-first order-last">
                    <h1 class="mt-0">Call Center Services</h1><br>
                    <span class="typed mt-0"></span>
                    <div>
                        <a href="#services" class="btn-wave scrollto">Ver Más</a>
                    </div>
                </div>


            </div>
    </section>

    <section id="services" class="section-bg fondo-service">
        <div class="container">

            <header class="section-header">
                <h3 class="title-service text-red-rubi">Servicios</h3>
                <p class="subtitle-service text-red-rubi">Ofrecemos los siguientes servicios siempre pensando en la
                    calidad </p>
            </header>

            <div class="row">

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <img class="mediana" src="img/img-services/marketing.png" alt="">
                        <h4 class="title service-title" style="cursor:default;">Marketing y Ventas</h4>
                        <p>
                            <ul style="text-align: left;">
                                <li>Gestión de Puntos de Venta (GPV).
                                </li>
                                <li>
                                    Creación de Redes de distribución.
                                </li>
                                <li>
                                    Field Marketing.
                                </li>
                                <li>
                                    Canales D2D.
                                </li>
                                <li>
                                    Task forces.
                                </li>
                                <li>
                                    Creación de equipos exclusivos de fidelización y venta.
                                </li>
                            </ul>
                            <div class="btn-wave" style="width: 50%;margin-left: auto;margin-right: auto;">Leer Mas
                            </div>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <img class="mediana" src="img/img-services/servicios-auxiliares.png" alt="">
                        <h4 class="title service-title" style="cursor: default;">Servicios Auxiliares</h4>

                        <ul style="text-align: left;">
                            <li>Selección, capacitación y evaluación de equipos comerciales.
                            </li>
                            <li>Servicios Mystery y Shopper.
                            </li>
                            <li>Control de accesos.
                            </li>
                            <li>Servicios administrativos auxiliares.
                            </li>
                            <li>Promociones, degustaciones, demostraciones, sampling.
                            </li>
                            <li>
                                Servicios de mantenimiento lineales.
                            </li>
                        </ul>
                        <div class="btn-wave" style="width: 50%;margin-left: auto;margin-right: auto;">Leer Mas</div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <img class="mediana" src="img/img-services/servicios-remotos.png" alt="">
                        <h4 class="title service-title" style="cursor: default;">Servicios Remotos</h4>
                        <ul style="text-align: left;">
                            <li>Servicios de atención al cliente.
                            </li>
                            <li>Help Desk.</li>
                            <li>Ventas.
                            </li>
                            <li>Generación de oportunidades.
                            </li>
                            <li>Fidelización, retención y recuperación de clientes.</li>
                            <li>Encuestas de opinión y sondeos de mercado.
                            </li>
                            <li>Creación, depuración, filtrado y actualización y cualificación de bases de datos.
                            </li>
                            <li>Soporte para E-Commerce.</li>
                            <li>Gestión de cobros.</li>
                        </ul>
                        <div class="btn-wave" style="width: 50%;margin-left: auto;margin-right: auto;">Leer Mas</div>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <main id="main">

        <section id="about">

            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-6">

                        <img src="img/index/call-agent.jpg" class="call-agent" alt="" style="width: 80%">

                    </div>

                    <div class="col-lg-7 col-md-6">
                        <div class="about-content">
                            <div class="pa-animate">
                                <h2 class="text-red-rubi">Nosotros</h2>
                                <h3 class="text-red-rubi">Más que una empresa, una familia</h3>
                                <p>Somos una empresa que nace con el compromiso de brindar lo mejor en tecnologia de
                                    comunicacion con el cliente.
                                </p>
                            </div>
                            <div class="pa-animate">
                                <h3 id="vision" class="text-red-rubi">Visión</h3>
                                <p>Convertirnos en el servicio de call center número 1 en atención al
                                    mercado hondureño, siendo una sucursal en el exterior e interior de este país con
                                    miras
                                    de ampliar el abanico de servicios a ofrecer, beneficiando al mercado
                                    hondureño.
                                </p>
                            </div>
                            <div class="pa-animate">
                                <h3 id="mision" class="text-red-rubi">Misión</h3>
                                <p>Proveer al Mercado hondureño de soluciones, nuevos productos
                                    financieros y de diferentes índoles; mediante fáciles, sencillas, directas y
                                    eficientes
                                    comunicaciones, vía nuestro call center regido con altos estandares mundiales,
                                    empleando recursos para beneficiar el mercado laboral hondureño.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <footer id="footer" class="section-bg background-contact ">
        <div class="">
            <div class="container mt-5 contact-animate text-center">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <h2 class="text-white display-4 ml-5 mt-5 text-center">Contáctanos</h2>
                            <div class="col-sm-6 text-justify mt-5">
                                <div class="footer-links my-auto mt-5">
                                    <a href="https://www.facebook.com" target="_blank" class="btn background-rubi"
                                        style="border-radius: 40px;">
                                        <i class="fa fa-facebook"></i>
                                    </a><a href="http://www.facebook.com" target="_blank" style="color: white;"
                                        class="h5"> R&H Communitech</a><br><br>

                                    <a href="https://www.instagram.com" target="_blank" class="btn background-rubi"
                                        style="border-radius: 40px;">
                                        <i class="fa fa-instagram"></i>
                                    </a><a href="https://www.instagram.com" target="_blank" style="color:white;"
                                        class="h5"> @R&HCommunitech</a><br><br>
                                    <a href="https://www.linkedin.com" target="_blank" class="btn background-rubi"
                                        style="border-radius: 40px;">
                                        <i class="fa fa-linkedin"></i>
                                    </a><a href="https://www.linkedin.com" target="_blank" style="color:white;"
                                        class="h5"> Linkedin</a><br><br>

                                    <a style="color: #fff; border-radius: 40px;" target="_blank"
                                       class="btn background-rubi" >
                                        <i class="fa fa-phone"></i>
                                    </a>
                                    <a class="h5" style="color: #fff"> <strong>Teléfono: </strong>2283-8200</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5">
                        <div class="form mt-5">
                            <strong>
                                <h4 class="text-white">Mandanos un mensaje</h4>
                            </strong>
                            <strong>
                                <p class="text-white">Si tienes alguna duda o consulta, no dudes en enviar un mensaje.
                                </p>
                            </strong>
                            <form method="post" th:action="@{/mail}" id="contacto">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre"
                                        data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                                        onkeyup="validateText12();" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                        data-rule="email" data-msg="Please enter a valid email"
                                        onkeyup="validateText12();" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject"
                                        placeholder="Asunto" data-rule="minlen:4"
                                        data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="msg" name="body" rows="5" data-rule="required"
                                        data-msg="Please write something for us" placeholder="Mensaje"
                                        onkeyup="validateText12();"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <span th:if="${param.exitoCorreo != null || param.errorCorreo != null}">
                                    <span th:if="${param.exitoCorreo}">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            Tu mensaje ha sido enviado. <strong>¡Gracias!</strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                    </span>
                                    <span th:if="${param.errorCorreo}">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            Ha sucedido un error al enviar tu mensaje, intenta de nuevo mas tarde. <strong>¡Lo sentimos!</strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                    </span>
                                </span>
                                <div class="form-group text-center">

                                    <input type="submit" id="btnSend" value="Enviar Correo"
                                        class="btn btn-block border-none" disabled
                                        style="background-color: #9b111e; color: #fff">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="pie">
        <div class="copyright">
            Copyright ©2019 - <strong>R & H Communitech</strong> | Tegucigalpa, Honduras.
        </div>
    </section>


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="contactform/contactform.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
    <script src="js/wave.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        window.sr = ScrollReveal();
        sr.reveal('.intro-info', {
            duration: 2000,
            origin: 'left',
            distance: '300px'
        });
        sr.reveal('.pa-animate', {
            duration: 2000,
            origin: 'bottom',
            distance: '600px'
        });
        sr.reveal('.contact-animate', {
            duration: 2000,
            origin: 'bottom',
            distance: '200px'
        });
        sr.reveal('.call-agent', {
            duration: 2000,
            origin: 'left',
            distance: '300px'
        })
    </script>

</body>

</html>